@import "./../../assets/colors/colors.scss";
@import url("./../../assets/fonts/fonts.scss");

.main {
  min-height: 900px;
  height: 100%;
  transition: background 0.3s ease-in-out;

  &_dark {
    background-color: $background-dark;
  }

  &_light {
    background-color: $background-light;
  }

  &__background {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s ease-in-out;

    &_light {
      background-image: url("../../assets/images/bg-desktop-light.jpg");
    }

    &_dark {
      background-image: url("../../assets/images/bg-desktop-dark.jpg");
    }
  }

  &__block {
    width: 700px;
    margin: 100px auto 0;
    position: relative;
    z-index: 2;
  }

  // First Section
  &__section {
    display: flex;
    align-items: center;
  }

  &__section_first {
    justify-content: space-between;
  }

  &__section-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 0.8rem;
    color: $columns-background-light;
  }

  &__theme-btn {
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &_light {
      background-image: url("../../assets/images/icon-moon.svg");
    }

    &_dark {
      background-image: url("../../assets/images/icon-sun.svg");
    }
  }

  &__subtitle {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    transition: color 0.3s ease-in-out;

    &_light {
      color: $text-color-light;
    }

    &_dark {
      color: $text-color-dark;
    }
  }
}

.input-block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;

  &_light {
    background-color: $columns-background-light;
  }

  &_dark {
    background-color: $columns-background-dark;
  }

  &__circle {
    width: 26px;
    height: 26px;
    border: 1px solid $border-light;
    border-radius: 100%;
    transition: border 0.3s ease-in-out;

    &_light {
      border: 1px solid $border-light;
    }

    &_dark {
      border: 1px solid $border-dark;
    }
  }

  &__textfield {
    width: 90%;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: "JosefinSans", serif;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    &_light {
      background-color: $columns-background-light;
      color: $text-color-light;
    }

    &_dark {
      background-color: $columns-background-dark;
      color: $text-color-dark;
    }
  }
}

.tabs-block {
  margin-top: 40px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.total-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 0 0 10px 10px;
  transition: background 0.3s ease-in-out;

  &_light {
    background-color: $columns-background-light;
  }

  &_dark {
    background-color: $columns-background-dark;
  }

  &__count {
    margin: 0;
    opacity: 0.8;
    transition: color 0.3s ease-in-out;

    &_light {
      color: $text-color-light;
    }

    &_dark {
      color: $text-color-dark;
    }
  }

  &__filter-block {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;
    font-size: 14px;
    transition: color 0.3s ease-in-out;

    &_light {
      color: $text-color-light;
    }

    &_dark {
      color: $text-color-dark;
    }

    &:hover {
      color: $buttons-color;
    }
  }
}
