@import "./../../assets/colors/colors.scss";

.main {
  transition: background 0.3s ease-in-out;

  &_dark {
    background-color: $background-dark;
  }

  &_light {
    background-color: $background-light;
  }

  &__background {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s ease-in-out;

    &_light {
      background-image: url("../../assets/images/bg-desktop-light.jpg");
    }

    &_dark {
      background-image: url("../../assets/images/bg-desktop-dark.jpg");
    }
  }

  &__block {
    width: 700px;
    height: 900px;
    margin: 100px auto 0;
    position: relative;
    z-index: 2;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__section_first {
    justify-content: space-between;
  }

  &__section-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 0.8rem;
    color: $columns-background-light;
  }

  &__theme-btn {
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &_light {
      background-image: url("../../assets/images/icon-moon.svg");
    }

    &_dark {
      background-image: url("../../assets/images/icon-sun.svg");
    }
  }
}
