// Primary
$buttons-color: hsl(220, 98%, 61%);
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light Theme
$columns-background-light: hsl(0, 0%, 98%);
$background-light: hsl(236, 33%, 92%);
$border-light: hsl(233, 11%, 84%);
$text-color-light-hover: hsl(235, 19%, 35%);
$text-color-light: hsl(237, 14%, 26%);

// Dark Theme
$columns-background-dark: hsl(235, 24%, 19%);
$background-dark: hsl(235, 21%, 11%);
$text-color-dark: hsl(234, 39%, 85%);
$text-color-dark-hover: hsl(236, 33%, 92%);
$border-dark: hsl(234, 11%, 52%);
$input-color-dark: hsl(235, 26%, 71%);
