@font-face {
    font-family: "JosefinSans";
    src: url("./JosefinSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "JosefinSans";
    src: url("./JosefinSans-Bold.ttf") format("truetype");
    font-weight: 700;
}